# Predicting Wine Quality from Chemical Characteristics
## Team 3 Final Project

Team 3 Members:  Tyler Foreman, Daniel Grant
Date:  June 6, 2023

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import random
import statistics
import seaborn as sns



## Exploratory Data Analysis
 
 - Load data into dataframe
 - Generate and review descriptive statistics of the dataset/variables
 - Plot visualization of data spread for each variable
 - Review and plot correlations of variables to outcome (quality)
 - Possibly perform statistical analysis of variable correlations to outcomes
 - Analyze and develop hypothesis of varialbes with weak correlation to output (and can be excluded during feature selection)

In [3]:
# Start code here
white_wines_full = pd.read_csv('./winequality-white.csv', sep=';')
white_wines_full.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
white_wines_full.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000


## Data Cleaning
 - Evaluate for possible corrupted values (ie: possibly erronous)
 - Evaluate for any missing data/data gaps
 - Remove any entries that are missing data or appear to be erronous

In [ ]:
# Start code here

## Data Preparation
-  Slice dataframe into multiple dataframes that contain subset of variables for feature selection experimentation (based on exploratory data analysis)
-  Keep full feature dataset as control set (ie: to compare model performance of feature selected datasets to the full dataset)
-  Split each experimental dataframe into test/train/validate datasets (80/10/10)
-  Perform any normalization of variables if necessary

In [ ]:
# Start code here


## Model Selection
-  Identify 2 models to conduct experiements with (ie: SVM and Logistic Regresssion)
-  Train the 2 models on the full feature dataset
-  Test against test dataset
-  Tune hyperparameters as necessary to optimize performance
-  Repeat until optimized
-  Once optimized, retrain instances on the feature selected experimental data sets

In [ ]:
# Start code here

## Model Analysis

-  For full feature data set:
    -  Run models against validation data sets 
    -  Evaluate performance
    -  Compare peformance of two models against validation sets
    -  Make recommendation on model selection

- For each experimental feature selected dataset:
    -  Run models against validation data sets 
    -  Evaluate performance
    -  Compare peformance of two models against validation sets
    -  Make recommendation on feature selection (which features are important and those that are not for making accurate predictions)

In [ ]:
# Start code here